body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #a7c2cc5a;
    margin: 0;
    padding: 0;
}


#contenedor{
    width: 700px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    margin-top: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

h2 {
    color: #2b4d77;
    font-size: 18px;
}

h3 {
    color: #000000;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    color: #0056b3;
}

hr {
    border: none;
    border-top: 1px solid #c2c3c5;
    margin: 10px 0px;
    margin-left: 40px;
    margin-right: 40px;
}

img{
    width: 108px;
}

.titulo{
    font-size: 18px;
}