*{
    font-family: Arial, Helvetica, sans-serif;
}
section{
    background-color:hsl(45, 94%, 94%);
    width: 500px;
    height: 420px;
    padding: 8px;
    margin-top: 40px;
    border: 1px solid black;
}

h3{
    font-size: 13px;
}
h2{
    font-size: 21px;
}

img{
    width: 280px;
    height: 200px;
    margin: 10px;
}

label{
    font-size: 14px;
    font-weight: bold;
}